[Unit]
Description=gunicorn daemon
After=networking.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/proyectoCafeteriaGrupoE
Environment="PATH=cd"
ExecStart=sudo sh /home/ubuntu/proyectoCafeteriaGrupoE/script.sh
[Install]
WantedBy=multi-user.target
