<!DOCTYPE html>
<html lang="en">    
    <head>      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if titulo %}
        <title>{{ titulo }}</title>
        {% else %}
        <title>Cafeteria Brioche</title>
        {% endif %}
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/styles.css') }}">
    </head>    
        <body class="body" background="{{url_for('static',filename='images/fondoInicio.jpg') }}"></body>
        {% if header %}
        <header class="header">
            <img class="header__img" src="{{url_for('static',filename='images/miCuenta.png')}}" alt="Cafeteria Brioche" width="">
            <h8>Mi Cuenta</h8>
            <h1>{{header}}</h1>
            <h8 style="text-align: right;">Cerrar Sesión</h8>
            <img class="header__img" src="{{url_for('static',filename='images/cerrarCesion.svg')}}" alt="Cafeteria Brioche" width="">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </header>
        {% endif %}
        {% block contenido%}

        {% endblock %}
    </body>
</html>
            