{% extends "base.html" %}

{% block contenido %}
    <section class="body_mean" style="margin-top: 0px;">
        <form method="POST" action="/acctionEliminarModificar" class="form">
            <div class="informe"><label class="label-list">Nombre:</label><input type="text" value="Empanada" name ="nombre" id ="nombre">
            <label class="label-list">Precio:</label><input type="text" value="3000" name ="precio" id ="precio">
            <label class="label-list">Unidad:</label><input type="text" value="Unidad" name ="totalVentas" id ="totalVentas"> 
            <label class="label-list">Cantidad en Stock:</label><input type="number"value="30"  name ="cantidad" id ="cantidad"> 
            <label class="label-list">Imagen:</label><input type="file"  name ="fileImagen" id ="fileImagen""> </div>
            <input type= "image" src="{{url_for('static',filename='images/buñuelo.jpg')}}" >
            <input type= "submit" value="Modificar" name="submit" id="modificar">
            <input type= "submit" value="Eliminar" name="submit" id="eliminar">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
        </form>
    </section>
{% endblock %}