{% extends "base.html" %}

{% block contenido %}
    <section class="body_buscador" >
        <form method="POST" action="/accionGestionarProducto" class="form">
            <div class="informe"><label class="label-list">Nombre Producto</label><input type="text" class="bloqueados" 
                placeholder="Nombre" name ="nombreProducto" id ="nombreProducto"></div>
            <input type= "submit" value="Buscar" name="submit" id="buscar">
            <input type= "submit" value="Nuevo Producto" name="submit" id="nuevoProducto">
            <input type= "submit" value="Cancelar" name="submit" id="submitCancelar">
        </form>
    </section>
    <section class="body_producto" >
        <form method="POST" action="/eliminarModificar" class="form" style="margin-top: 0;">
            <div class="lista_poductos"><input class="image_productos" type= "image" src="{{url_for('static',filename='images/buñuelo.jpg')}}"> 
            <input type= "image" class="image_productos" src="{{url_for('static',filename='images/empanada.png')}}"></div>
        </form>
    </section>
    {% endblock %}