{% extends "base.html" %}

{% block contenido %}
    <section class="body_buscador" >
        <form method="POST" action="accionGestionarFacturas" class="form">
            <div style="width: 300px;"></div>
            <input type= "submit" value="Nueva Factura" name="submit" id="nuevaFactura">
            <input type= "button" value="Ver Historico" name="verHistorico" id="verHistorico">
            <input type= "submit" value="Cancelar" name="submit" id="submitCancelar">
        </form>
    </section>
    <section class="body_facturas" >
        <form method="POST" action="/verFactura" class="form">
            <div class="lista_facturas"><label class="label-list">Factura Número:</label> <label class="label-list">Fecha:</label><label class="label-list">Valor:</label></div>
            <div class="lista_facturas"><a href="/verFactura"><label class="label-list">1</label></a><label class="label-list">30/12/2020 08:30:00</label><label class="label-list">30000</label></div>
            <div class="lista_facturas"><a href="/verFactura"><label class="label-list">2</label></a><label class="label-list">30/12/2020 12:30:00</label><label class="label-list">30000</label></div>
        </form>
    </section>
</body>
{% endblock %}