<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='styles/styles.css?v=0'>
    <link rel='icon' href='imagenes/icono'>
    <title>Gestionar Productos</title>
</head>
<body class="body" background="imagenes/fondoInicio.jpg">
    <header class="header">
        <img class="header__img" src="imagenes/miCuenta.png" alt="Cafeteria Brioche" width="">
        <h8>Mi Cuenta</h8>
        <h1>CAFETERIA BRIOCHE</h1>
        <h8 style="text-align: right;">Cerrar Sesión</h8>
        <img class="header__img" src="imagenes/cerrarCesion.svg" alt="Cafeteria Brioche" width="">
    </header>
    <section class="body_buscador" >
        <form name="nuevoProducto" method="POST" action="nuevoProducto.html" enctype="text/plain" class="form">
            <div class="informe"><label class="label-list">Nombre Producto</label><input type="text" class="bloqueados" 
                placeholder="Nombre" name ="nombreProducto" id ="nombreProducto" autocomplete="off"></div>
            <input type= "button" value="Buscar" name="buscar" id="buscar">
            <input type= "submit" value="Nuevo Producto" name="nuevoProducto" id="nuevoProducto">
            <input type= "submit" value="Cancelar" name="cancsubmitCancelarelar" id="submitCancelar" form="cancelar">
        </form>
        <form name="cancelar" method="POST" action="portal.html" enctype="text/plain" id="cancelar">
        </form>
    </section>
    <section class="body_producto" >
        <form name="buscarProducto" method="POST" action="eliminarModificar.html" enctype="text/plain" class="form" style="margin-top: 0;">
            <div class="lista_poductos"><input class="image_productos" type= "image" src="imagenes/buñuelo.jpg" > 
            <input type= "image" class="image_productos" src="imagenes/empanada.png" ></div>
        </form>
    </section>
</body>
</html>