{% extends "base.html" %}

{% block contenido %}
    <section class="body_mean" style="background-image:{{ url_for('static',filename='images/marco.png')}}">
        <div class="form"><input type="image" class="imagenInicio" src="{{url_for('static',filename='images/inicioSesion.svg') }}" style="height: 250px;width: 250px;"></div>
        <form method="POST" action="/login" class="form">            
            <input type="text" name ="usuario" id ="usuario" placeholder="Usuario">
            <br>
            <br>
            <input type="password" name ="contrasena" id ="contrasena" placeholder="Contraseña">
            <br>
            <br>
            <input type= "submit" value="Iniciar Sesion" name="submit" id="submitIniciarSesion">
        </form>
        <form method="POST" action="/recurperarContrasena" class="form"> 
            <input type= "submit" value="Recuperar Contraseña" name="submit" id="submitRecuperarContrasena" sty>

    </section>
{% endblock %}