{% extends "base.html" %}

{% block contenido %}
        <form method="POST" action="accionInformeVentas" class="form">
            <div class="informe"><label class="label-list">Dinero En Caja:</label><input type="text" class="label-list" value="3000000" name ="dineroCaja" id ="dineroCaja" disabled=True>
                <label class="label-list">Dinero En Medios Electrónicos:</label><input type="text" class="label-list" value="3000000" name ="dineroElectronicos" id ="dineroElectronicos" disabled=True>
            <label class="label-list">Total Ventas:</label><input type="text" class="label-list" value="6000000" name ="totalVentas" id ="totalVentas" disabled=True>
            <label class="label-list">Balance:</label><input type="text" class="label-list" value="0" name ="balance" id ="balance" disabled=True></div>
            <input type= "submit" value="Recalcular" name="submit" id="cancelar">
            <input type= "submit" value="Generar" name="submit" id="generar">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
        </form>
    </section>
{% endblock %}
