{% extends "base.html" %}

{% block contenido %}
    <div style="display: grid; grid-template-columns: 55% 5% 38%;width: 100%;">
        <section class="body_facturas">
            <form name="verFactura" method="POST" action="verFactura.html" enctype="text/plain" class="form" id="verFactura">
                <div class="lista_producto_factura"><label class="label-list">Producto:</label><label class="label-list">Cantidad:</label><label class="label-list">Valor Total:</label></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
            </form>
        </section>
        <section></section>
        <section class="body_facturas">
            <label class="label-list">Producto</label>
           <input type="text">
           <form name="agregarProducto" method="POST" action="nuevaFactura.html" enctype="text/plain" class="form">
            <div class="lista_poductos_factura"><input type= "image" class="agregar" src="{{url_for('static',filename='images/buñuelo.jpg') }}"> 
            <input type= "image" class="agregar" src="{{url_for('static',filename='images/empanada.png') }}"></div>
        </form>
        </section>
    </div>
    <section class="body_buscador" style="width: 40%;" >
        <form method="POST" action="/nuevaFactura" class="form">
            <input type= "submit" value="Total" name="submit" id="total">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
        </form>
    </section>
{% endblock %}