{% extends "base.html" %}

{% block contenido %}

    <div style="display: grid; grid-template-columns: 55% 5% 38%;width: 100%;">
        <section class="body_facturas">
            <div class="form" id="verFactura">
                <div class="lista_producto_factura"><label class="label-list">Producto:</label><label class="label-list">Cantidad:</label><label class="label-list">Valor Total:</label></div>
            </div>
        </section>
        <section></section>
        <section class="body_facturas">
            <label class="label-list">Producto</label>
            <input type="text" name="nombre" style="margin: 0px;" id="nombre">
            <button id="buscar" style="margin: 0px;" onclick="buscarProducto()" form="cc">Buscar</button>

            <div id="lista">
                <div></div>
            </div>
        </section>
    </div>
    <section class="body_buscador" style="width: 40%;" >
        <form method="POST" action="/nuevaFactura" class="form">
            <input type= "submit" value="Total" name="submit" id="total">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
        </form>
    </section>
{% endblock %}