{% extends "base.html" %}

{% block contenido %}
    <section class="body_mean" style="margin-top: 0px;padding-top: 0px">
        <form method="POST" action="/crearProducto" class="form">
            <div class="informe"><label class="label-list">Nombre:</label><input type="text" name ="nombre" id ="nombre">
            <label class="label-list">Precio:</label><input type="text" name ="precio" id ="precio">
            <label class="label-list">Unidad:</label><input type="text"  name ="totalVentas" id ="totalVentas"> 
            <label class="label-list">Cantidad en Stock:</label><input type="number"  name ="cantidad" id ="cantidad"> 
            <label class="label-list">Imagen:</label><input type="file"  name ="fileImagen" id ="fileImagen"> </div>
            <input type= "image" src="{{url_for('static',filename='images/buñuelo.jpg')}}" >
            <input type= "submit" value="Crear" name="submit" id="crear">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
        </form>
    </section>
{% endblock %}