<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='styles/styles.css?v=0'>
    <link rel='icon' href='imagenes/icono'>
    <title>Factura</title>
</head>
<body class="body" background="imagenes/fondoInicio.jpg">
    <header class="header">
        <img class="header__img" src="imagenes/miCuenta.png" alt="Cafeteria Brioche" width="">
        <h8>Mi Cuenta</h8>
        <h1>CAFETERIA BRIOCHE</h1>
        <h8 style="text-align: right;">Cerrar Sesión</h8>
        <img class="header__img" src="imagenes/cerrarCesion.svg" alt="Cafeteria Brioche" width="">
    </header>
    <div style="display: grid; grid-template-columns: 55% 5% 38%;width: 100%;">
        <section class="body_facturas">
            <form name="verFactura" method="POST" action="verFactura.html" enctype="text/plain" class="form" id="verFactura">
                <div class="lista_producto_factura"><label class="label-list">Producto:</label><label class="label-list">Cantidad:</label><label class="label-list">Valor Total:</label></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
                <div class="lista_producto_factura"><label class="label-list">Empanada</label><input type="text" value="4"></input><label class="label-list">4500</label><input type="button" value="Eliminar"></div>
            </form>
        </section>
        <section></section>
        <section class="body_facturas">
            <label class="label-list">Producto</label>
           <input type="text">
           <form name="agregarProducto" method="POST" action="nuevaFactura.html" enctype="text/plain" class="form">
            <div class="lista_poductos_factura"><input type= "image" class="agregar" src="imagenes/buñuelo.jpg" > 
            <input type= "image" class="agregar" src="imagenes/empanada.png" ></div>
        </form>
        </section>
    </div>
    <section class="body_buscador" style="width: 40%;" >
        <form name="formCancelar" method="POST" action="gestionarVentas.html" enctype="text/plain" class="form">
            <input type= "submit" value="Cancelar" name="cancelar" id="cancelar" >
            <input type= "submit" value="Total" name="total" id="total" form="fromTotal">
        </form>
        <form name="fromTotal" method="POST" action="total.html" enctype="text/plain" id="fromTotal">
        </form>
    </section>
</body>
</html>