{% block contenido %}
<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
    </head>
<body style="width: max-content;">   
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td rowspan="3" style="width: 18%;"><img src="" style="display: inline-block; text-align:left; width: 102px;"><div style="line-height: 1.15; width: auto"></div></td>
                <td style="width: 50%;"><h3 style="text-align: left;margin:0" >CAFETERIA BRIOCHE</h3></td>
                <td style="width: 33.33%;"><h3 style="text-align: right;margin:0">FACTURA N° {{idFactura}}</h3> </td>
            </tr>
            <tr>
                <td style="width: 50%;"><h5 style="text-align: left;margin:0" >NIT: 12345678-0 &nbsp;TEL:0000000</h5></td>
                <td style="width: 33.3333%;"><h5 style="text-align: right;margin:0" >FECHA: </h5></td>
            </tr>
            <tr>
                <td style="width: 50%;"><h5 style="text-align: left;margin:0" >cafeteriabrioche@gmail.com</h5></td>
                <td style="width: 33.3333%;"><h5 style="text-align: right;margin:0" >{{fecha}}</h5></td>
            </tr>
        </tbody>
    </table>
<hr>
<table style="width: 100%; border-collapse: collapse; border: 2px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 20%; border: 2px solid rgb(0, 0, 0);">
                <div style="text-align: center;">C&Oacute;DIGO</div>
            </td>
            <td style="width: 20%; border: 2px solid rgb(0, 0, 0);">
                <div data-empty="true" style="text-align: center;">DESCRIPCI&Oacute;N</div>
            </td>
            <td style="width: 20%; border: 2px solid rgb(0, 0, 0);">
                <div style="text-align: center;">CANTIDAD</div>
            </td>
            <td style="width: 20%; border: 2px  solid rgb(0, 0, 0);">
                <div style="text-align: center;">PRECIO UNITARIO</div>
            </td>
            <td style="width: 20%; border: 2px solid rgb(0, 0, 0);">
                <div data-empty="true" style="text-align: center;">TOTAL</div>
            </td>
        </tr>
        {%if detalle%}
    {%for producto in detalle%}

        <tr>
            <td style="width: 20%; border-left: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0);">
                <div data-empty="true" style="text-align: center;">{{producto["idProducto"]}}</div>
            </td>
            <td style="width: 20%; border: 0border-left: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0);;">
                <div data-empty="true" style="text-align: center;">{{producto["nombre"]|upper}}</div>
            </td>
            <td style="width: 20%; border:border-left: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0);;">
                <div data-empty="true" style="text-align: center;">{{producto["cantidad"]}}</div>
            </td>
            <td style="width: 20%; border: border-left: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0);;">
                <div data-empty="true" style="text-align: center;">{{producto["precio"]}}</div>
            </td>
            <td style="width: 20%; border: border-left: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0);;">
                <div data-empty="true" style="text-align: center;">{{producto["subtotal"]}}</div>
            </td>
        </tr>
        {%endfor%}
        {%endif %}
    </tbody>
</table>
<h3 style="text-align: justify;"><br></h3>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<hr>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 79.7101%;">
                <div data-empty="true" style="text-align: right;">&nbsp;TOTAL A PAGAR &nbsp;</div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">13000</div>
            </td>
        </tr>
    </tbody>
</table>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
</body>
{% endblock %}