{% extends "base.html" %}

{% block contenido %}
    <section class="body_facturas" >
            <div class="lista_facturas"><label class="label-list">Factura Número:</label> <label class="label-list">Fecha:</label><label class="label-list">Valor:</label></div>
            
            <div class="lista_facturas"><label class="label-list">
                {%if ids%}
                    {{ids}}
                {%else%}
                    ---
                {%endif%}
                </label><label class="label-list">
                {%if fecha%}
                    {{fecha}}
                {%else%}
                    ---
                {%endif%}
                </label><label class="label-list">
                {%if total%}
                    {{total}}
                {%else%}
                    ---
                {%endif%}</label></div>
    </section>
    <section class="body_buscador" style="width: 40%;" >
        <form method="POST" action="/total" class="form">
            <input type= "radio" value="Efectivo" name="metodo" id="efectivo" checked>Efectivo
            <input type= "radio" value="Efectivo" name="metodo" id="tarjeta">Tarjera
            <input type= "submit" value="Generar" name="submit" id="generar">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
            {%if ids%}
                   <input type="hidden" value="{{ids}}" name="id_delete" id="id_delete">
            {%endif%}
            {%if entrada%}
                   <input type="hidden" value="1" name="entrada" id="entrada">
            {%endif%}
            
        </form>
    </section>
    
{% endblock %}