{% extends "base.html" %}

{% block contenido %}
    <section class="body_facturas" >
        <form name="verFactura" method="POST" action="verFactura.html" enctype="text/plain" class="form" id="verFactura">
            <div class="lista_producto_factura"><label class="label-list">Valor a Pagar:</label><label class="label-list">30000</label></div>
        </form>
    </section>
    <section class="body_buscador" style="width: 40%;" >
        <form method="POST" action="/total" class="form">
            <input type= "radio" value="Efectivo" name="metodo" id="efectivo">Efectivo
            <input type= "radio" value="Efectivo" name="metodo" id="tarjeta">Tarjera
            <input type= "submit" value="Generar" name="submit" id="generar">
            <input type= "submit" value="Cancelar" name="submit" id="cancelar" >
        </form>
    </section>
    <section class="body_facturas" >
        <form name="verFactura" method="POST" action="verFactura.html" enctype="text/plain" class="form" id="verFactura">
            <div class="lista_facturas"><label class="label-list">Factura Número:</label> <label class="label-list">Fecha:</label><label class="label-list">Valor:</label></div>
            <div class="lista_facturas"><label class="label-list">---</label><label class="label-list">---</label><label class="label-list">---</label></div>
        </form>
    </section>
{% endblock %}