{% extends "base.html" %}

{% block contenido %}
    <section class="body_facturas" >
        <form name="verFactura" method="POST" action="verFactura.html" enctype="text/plain" class="form" id="verFactura">
            <div class="lista_facturas"><label class="label-list">Factura Número:</label> <label class="label-list">Fecha</label><label class="label-list">Valor:</label></div>
            <div class="lista_facturas"><label class="label-list">1</label><label class="label-list">30/12/2020 08:30:00</label><label class="label-list">30000</label></div>
        </form>
    </section>
    <section class="body_facturas" >
        <form name="verFactura" method="POST" action="verFactura.html" enctype="text/plain" class="form" id="verFactura">
            <div class="lista_facturas"><label class="label-list">Producto:</label> <label class="label-list">Cantidad:</label><label class="label-list">Valor Total:</label></div>
            <div class="lista_facturas"><label class="label-list">Empanada</label><label class="label-list">4</label><label class="label-list">4500</label></div>
        </form>
    </section>
    <section class="body_buscador" style="width: 40%;" >
        <form method="POST" action="/gestionarFacturas" class="form">
            <input type= "submit" value="Cancelar" name="cancelar" id="cancelar">
        </form>
    </section>
{% endblock %}